.cases {
  &__container {
    grid-column: 1;
    max-width: 275px;
    // height: 80%;
    display: grid;
    grid-row-gap: 5px;
  }
  &__list {
    max-height: 440px;
    max-width: 275px;
    background-color: #22212199;
    height: 100%;
    overflow-y: scroll;
  }
  &__title {
    font-size: 18px;
    text-align: center;
  }

  form {
      height: 50px;
  }
}
.MuiTypography-body1 {
  font-size: 0.9rem;
}
