.stub {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  height: calc(100vh - 130px);
  background-image: url('../../images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  button {
    margin-top: 25px;
    width: 15%;
    height: 40px;
    border-radius: 5px;
    color: #010101;
    background-color: #ffd6d6;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
  }
}
