.main {
  &__container {
    display: grid;
    grid-template-columns: 15% 60% 22%;
    flex: 1 0 auto;
    grid-column-gap: 1%;
    height: calc(100vh - 130px);
    padding: 30px 20px;
  }
}

.global {
  &__container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.map {
  &__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 180px);
  }
  &__tab-container {
    max-height: 100px;
  }
}

.MuiContainer-root {
  padding: 0;
}

@media (max-width: 1024px) {
  .main {
    &__container {
      grid-template-columns: 1fr;
      grid-row-gap: 2%;
      grid-column-gap: 0;
      height: 100%;
      padding: 30px 30px;
      margin-bottom: 100px;
    }
  }
  .global {
    &__container {
      justify-self: center;
      width: 65vw;
    }
  }

  .map {
    &__tab-container {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
  }
}

@media (max-width: 1000px) {
  .map {
    &__container {
      width: 85vw;
      margin: 0 auto;
    }
  }
  .allCases {
    &__container {
      width: 85vw;
      margin: 0 auto;
    }
  }
}
