.app {
}

.main {
  &__container {
    display: grid;
    grid-template-columns: minmax(150px, 280px) 2fr minmax(150px, 335px);
    
  }
}

.tab {
  &__selected {
    color: #fefeff;
    background-color: #153468;
  }
}


.global {
  &__container {
    padding: 0;
  }
}

.MuiContainer-root {
  padding: 0;
}