.wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  height: calc(100vh - 130px);
  background-image: url('../../images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
