.label__item {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.info.legend {
  display: flex;
  background-color: #201d1db3;
  padding: 7px 0px;
}

.label__color {
  width: 30px;
  height: 6px;
  align-self: center;
}

.MuiTab-textColorInherit.Mui-selected {
  color: #fefeff;
  background-color: #153468;
}

