.table2__container {
  background-color: #22212199;
  padding: 6px;
  h2 {
    text-align: center;
    font-family: cursive;
    letter-spacing: -1px;
  }
}

@media (max-width: 1024px) {
  .root {
    height: 110px;
    display: flex;
    justify-content: center;
    div {
      width: 50%;
      text-align: center;
    }
  }
  .allCases {
    &__item {
      span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
}


@media (max-width: 1000px) {
    .allCases{
        &__container{
            width: 85vw;
            margin: 0 auto;
        }
    }
}
